.search-bar {
  @include clearfix();
  position: relative;
  background: $brand-dark;
  padding: 8px 0;

  .input-group {
    max-width: 700px;
    border: none;
    float: left;
  }
  .input-group-addon {
    background: lighten($brand-dark, 8%);
    color: #eee;
    border: none;
  }
  .form-control {
    background: lighten($brand-dark, 8%);
    border: none;
    outline: none;
    box-shadow: none;
    font-weight: 300;
    color: #eee;
  }

  svg path,
  svg rect {
      fill: #fff;
  }

  .btn-surprise {
    margin-left: 10px;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
.search-results {
  @include border-bottom-radius(5px);
  position: absolute;
  z-index: 10;
  top: 50px;
  max-width: 700px;
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  background-color: lighten($brand-dark, 8%);
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      a {
        display: block;
        border-top: 1px solid rgba(#000, 0.20);
        &:hover {
          background-color: lighten($brand-dark, 4%);
          text-decoration: none;
        }
      }
    }
  }
}
.search-result {
  @include clearfix();
  padding: 4px 8px;
  .poster {
    float: left;
    @include border-radius(6px);
    display: block;
    height: 50px;
    margin-right: 10px;
  }
  .details {
    .title {
      display: block;
      color: #ccc;
    }
    .meta {
      color: #899fbf;
    }
  }
}