<div class="search">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input id="search-bar" ng-focus="setFocus(true);" ng-blur="setFocus(false);" ng-model="query" type="text" class="form-control" placeholder="Search for movies...">
    <span class="input-group-addon" ng-show="loading">
      <div class="loader">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="16px" height="20px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
          </rect>
          <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
            <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
            <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
          </rect>
        </svg>
      </div>
    </span>
  </div>
  <!--
    @TODO: fix so you can click without losing results div
    ng-show="results.length && focus"
  -->
  <div ng-show="results.length && focus" class="search-results">
    <ul>
      <li ng-repeat="result in results | limitTo: 10">
        <a class="search-result" ui-sref="movie({id: result.id})">
          <img class="poster" ng-src="{{ result.poster_120x171 }}">
          <span class="details">
            <span class="title">{{ result.title }}</span>
            <span class="meta">{{ result.release_year }} | {{ result.rating }}</span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>